---
import Layout from "../layouts/Layout.astro";

import Hero from "../sections/Hero.astro";
---

<Layout title="Mejora tu Web y Ventas con Copywriting y Desarrollo Profesional">
  <main>
    <!-- <Trabajos /> -->
    <!-- <Habilidades /> -->
  </main>
</Layout>
