---
import Layout from "../layouts/Layout.astro";

// import Hero from "../sections/Hero.astro";
import Servicios from "../sections/Servicios.astro";
import Funnels from "../sections/Funnels.astro";
// import Email from "../sections/Email.astro";
// import Trabajos from "../sections/Trabajos.astro";
// import Habilidades from "../sections/Habilidades.astro";
// import Footer from "../sections/Footer.astro";
---

<Layout title="Welcome to Astro.">
  <!-- <Hero /> -->
  <main>
    <Servicios />
    <Funnels />
    <!-- <Email /> -->
    <!-- <Trabajos /> -->
    <!-- <Habilidades /> -->
  </main>
  <!-- <Footer /> -->
</Layout>
