---
import HeroImage from "@/components/HeroImage.astro";
---

<section id="email" class="max-w-6xl mx-auto py-20 px-5">
  <h2
    class="font-extrabold text-3xl text-center md:text-5xl bg-gradient-to-r from-cyan-600 to-gray-950 text-transparent bg-clip-text"
  >
    Creamos Funnels que convierten
  </h2>
  <div class="grid md:grid-cols-2">
    <ul class="text-slate-800 md:mt-20 mx-5 order-last md:order-first">
      <li class="mb-4">
        <div>
          <span class="text-2xl mr-2 font-bold text-cyan-500">01</span><span
            class="text-2xl font-bold">Emails Promocionales</span
          >
        </div>
        <p class="font-light mt-3 md:w-96">
          Your content goes here. Edit or remove this text inline or in the
          module Content settings.
        </p>
      </li>
      <li class="mb-4">
        <div>
          <span class="text-2xl mr-2 font-bold text-cyan-500">02</span><span
            class="text-2xl font-bold">Newsletters</span
          >
        </div>
        <p class="font-light mt-3 md:w-96">
          Your content goes here. Edit or remove this text inline or in the
          module Content settings.
        </p>
      </li>
      <li class="mb-4">
        <div>
          <span class="text-2xl mr-2 font-bold text-cyan-500">03</span><span
            class="text-2xl font-bold">Correos de Bienvenida</span
          >
        </div>
        <p class="font-light mt-3 md:w-96">
          Your content goes here. Edit or remove this text inline or in the
          module Content settings.
        </p>
      </li>
      <li class="mb-4">
        <div>
          <span class="text-2xl mr-2 font-bold text-cyan-500">04</span><span
            class="text-2xl font-bold">Correo de carrito abandonado</span
          >
        </div>
        <p class="font-light mt-3 md:w-96">
          Your content goes here. Edit or remove this text inline or in the
          module Content settings.
        </p>
      </li>
      <li class="mb-4">
        <div>
          <span class="text-2xl mr-2 font-bold text-cyan-500">05</span><span
            class="text-2xl font-bold">Correo con contenido de valor</span
          >
        </div>
        <p class="font-light mt-3 md:w-96">
          Your content goes here. Edit or remove this text inline or in the
          module Content settings.
        </p>
      </li>
    </ul>
    <HeroImage />
  </div>
</section>
