---
import HeroImage from "../components/HeroImage.astro";
---

<section id="email" class="max-w-6xl mx-auto py-20 px-5">
  <h2
    class="font-extrabold text-3xl text-center md:text-5xl bg-gradient-to-r from-cyan-600 to-gray-950 text-transparent bg-clip-text"
  >
   Secuencias de correos ganadoras
  </h2>
  <div class="grid md:grid-cols-2">
    <ul class="text-slate-800 md:mt-20 mx-5 order-last md:order-first">
      <li class="mb-4">
        <div>
          <span class="text-2xl mr-2 font-bold text-cyan-500">01</span><span
            class="text-2xl font-bold">Emails Promocionales</span
          >
        </div>
        <p class="font-light mt-3 md:w-96">
          Diseñamos emails promocionales efectivos que captan la atención y generan ventas.
        </p>
      </li>
      <li class="mb-4">
        <div>
          <span class="text-2xl mr-2 font-bold text-cyan-500">02</span><span
            class="text-2xl font-bold">Newsletters</span
          >
        </div>
        <p class="font-light mt-3 md:w-96">
          Creamos newsletters informativas y atractivas que mantienen a tus clientes comprometidos con tu marca.
        </p>
      </li>
      <li class="mb-4">
        <div>
          <span class="text-2xl mr-2 font-bold text-cyan-500">03</span><span
            class="text-2xl font-bold">Correos de Bienvenida</span
          >
        </div>
        <p class="font-light mt-3 md:w-96">
          Desarrollamos correos de bienvenida personalizados para una excelente primera impresión.
        </p>
      </li>
      <li class="mb-4">
        <div>
          <span class="text-2xl mr-2 font-bold text-cyan-500">04</span><span
            class="text-2xl font-bold">Correo de carrito abandonado</span
          >
        </div>
        <p class="font-light mt-3 md:w-96">
         Implementamos correos de carrito abandonado que recuperan ventas perdidas.
        </p>
      </li>
      <li class="mb-4">
        <div>
          <span class="text-2xl mr-2 font-bold text-cyan-500">05</span><span
            class="text-2xl font-bold">Correo con contenido de valor</span
          >
        </div>
        <p class="font-light mt-3 md:w-96">
         Enviamos correos con contenido de valor que educan y fidelizan a tus clientes.
        </p>
      </li>
    </ul>
    <HeroImage />
  </div>
</section>
