---
import FunnelCard from "../components/FunnelCard.astro";

const funnels = [
  {
    alt: "Funnel de Registro Gratis",
    number: "1",
    title: "Registro Gratis",
    description:
      "Ofrecemos opciones de registro gratuito que atraen a más usuarios y expanden tu base de clientes potenciales.",
    href: "/funnel/registro",
  },
  {
    alt: "Funnel de Inscripción VIP",
    number: "2",
    title: "Inscripción VIP",
    description:
      "Creamos programas de inscripción VIP para tus productos o servicios más exclusivos, aumentando el valor percibido y la lealtad del cliente.",
    href: "/funnel/inscripcion",
  },
  {
    alt: "Funnel de Upsell",
    number: "3",
    title: "Vender un producto más caro",
    description:
      "Desarrollamos estrategias para upselling que incrementan el valor de cada transacción.",
    href: "/funnel/upsell",
  },
];
---

<section id="funnels" class="mx-auto py-5 bg-[#f0f6ff] px-5 md:px-24">
  <div class="max-w-6xl mx-auto relative">
    <h2
      class="font-extrabold text-3xl text-center mb-4 md:text-5xl text-blue-700"
    >
      Creamos Funnels que convierten
    </h2>
    <p class="text-center text-slate-700 max-w-2xl mx-auto mb-12">
      Nuestros funnels están diseñados para maximizar las conversiones y
      aumentar tus ingresos en cada etapa del proceso de venta.
    </p>

    <ul class="flex flex-col">
      {funnels.map((funnel) => <FunnelCard {...funnel} />)}
    </ul>
  </div>
</section>

---
