<section id="servicios" class="max-w-6xl mx-auto py-20">
  <h2
    class="font-extrabold text-3xl text-center mb-4 md:text-5xl bg-gradient-to-r from-cyan-600 to-gray-950 text-transparent bg-clip-text"
  >
    Nuestros servicios de calidad
  </h2>
  <p class="text-slate-950 text-center">
    Your content goes here. Edit or remove this text inline or in the module
    Content settings.
  </p>
  <ul class="text-slate-800 mt-10 mx-5 transition-servicios">
    <li
      class="border-cyan-600 items-center border-b py-10 pl-5 grid gap-2 md:grid-cols-2 bg-gradient-to-r hover:from-cyan-600 ease-in-out hover:to-gray-950 hover:text-slate-50 hover:shadow-lg transition-all duration-300"
    >
      <div>
        <span class="text-3xl mr-2 font-bold text-cyan-900">01</span><span
          class="text-3xl font-bold">Desarrollo Web</span
        >
      </div>
      <p>
        Your content goes here. Edit or remove this text inline or in the module
        Content settings.
      </p>
    </li>
    <li
      class="border-cyan-600 items-center border-b py-10 pl-5 grid gap-2 md:grid-cols-2 hover:bg-gradient-to-r hover:from-cyan-600 ease-in-out hover:to-gray-950 hover:text-slate-50 hover:shadow-lg transition-all duration-300"
    >
      <div>
        <span class="text-3xl mr-2 font-bold text-cyan-900">02</span><span
          class="text-3xl font-bold">Copywriting</span
        >
      </div>
      <p>
        Your content goes here. Edit or remove this text inline or in the module
        Content settings.
      </p>
    </li>
    <li
      class="border-cyan-600 items-center border-b py-10 pl-5 grid gap-2 md:grid-cols-2 hover:bg-gradient-to-r hover:from-cyan-600 ease-in-out hover:to-gray-950 hover:text-slate-50 hover:shadow-lg transition-all duration-300"
    >
      <div>
        <span class="text-3xl mr-2 font-bold text-cyan-900">03</span><span
          class="text-3xl font-bold">Email Marketing</span
        >
      </div>
      <p>
        Your content goes here. Edit or remove this text inline or in the module
        Content settings.
      </p>
    </li>
    <li
      class="border-cyan-600 items-center border-b py-10 pl-5 grid gap-2 md:grid-cols-2 hover:bg-gradient-to-r hover:from-cyan-600 ease-in-out hover:to-gray-950 hover:text-slate-50 hover:shadow-lg transition-all duration-300"
    >
      <div>
        <span class="text-3xl mr-2 font-bold text-cyan-900">04</span><span
          class="text-3xl font-bold">SEO</span
        >
      </div>
      <p>
        Your content goes here. Edit or remove this text inline or in the module
        Content settings.
      </p>
    </li>
    <li
      class="border-cyan-600 items-center border-b py-10 pl-5 grid gap-2 md:grid-cols-2 hover:bg-gradient-to-r hover:from-cyan-600 ease-in-out hover:to-gray-950 hover:text-slate-50 hover:shadow-lg transition-all duration-300"
    >
      <div>
        <span class="text-3xl mr-2 font-bold text-cyan-900">05</span><span
          class="text-3xl font-bold">Generación de Leads</span
        >
      </div>
      <p>
        Your content goes here. Edit or remove this text inline or in the module
        Content settings.
      </p>
    </li>
    <li
      class="border-cyan-600 items-center border-b py-10 pl-5 grid gap-2 md:grid-cols-2 hover:bg-gradient-to-r hover:from-cyan-600 ease-in-out hover:to-gray-950 hover:text-slate-50 hover:shadow-lg transition-all duration-300"
    >
      <div>
        <span class="text-3xl mr-2 font-bold text-cyan-900">06</span><span
          class="text-3xl font-bold">Funnels de Ventas</span
        >
      </div>
      <p>
        Your content goes here. Edit or remove this text inline or in the module
        Content settings.
      </p>
    </li>
    <li
      class="border-cyan-600 items-center border-b py-10 pl-5 grid gap-2 md:grid-cols-2 hover:bg-gradient-to-r hover:from-cyan-600 ease-in-out hover:to-gray-950 hover:text-slate-50 hover:shadow-lg transition-all duration-300"
    >
      <div>
        <span class="text-3xl mr-2 font-bold text-cyan-900">07</span><span
          class="text-3xl font-bold">Integraciones</span
        >
      </div>
      <p>
        Your content goes here. Edit or remove this text inline or in the module
        Content settings.
      </p>
    </li>
    <li
      class="border-cyan-600 items-center border-b py-10 pl-5 grid gap-2 md:grid-cols-2 hover:bg-gradient-to-r hover:from-cyan-600 ease-in-out hover:to-gray-950 hover:text-slate-50 hover:shadow-lg transition-all duration-300"
    >
      <div>
        <span class="text-3xl mr-2 font-bold text-cyan-900">08</span><span
          class="text-3xl font-bold">Chekouts Personalizados</span
        >
      </div>
      <p>
        Your content goes here. Edit or remove this text inline or in the module
        Content settings.
      </p>
    </li>
  </ul>
</section>
