---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import copy from "/public/copy/copy.png";
import target from "/public/copy/target2.png";
import optimization from "/public/copy/optimization.png";
import seo from "/public/copy/seo.png";
---

<Layout title="Servicios Profesionales de Copywriting">
  <!-- Hero: Impacto del Copywriting -->
  <section class="bg-[#f0f6ff] py-20 px-5 md:px-20">
    <div class="max-w-7xl mx-auto grid md:grid-cols-2 items-center gap-10">
      <!-- Texto -->
      <div>
        <h1
          class="text-4xl md:text-4xl font-extrabold text-blue-700 mb-5 leading-tight"
        >
          POTENCIA TU NEGOCIO CON COPYWRITING PERSUASIVO
        </h1>
        <p class="text-lg font-semibold text-slate-600 mb-5">
          REDACTAMOS TEXTOS QUE CAPTURAN LA ATENCIÓN Y CONVIERTEN VISITAS EN
          VENTAS.
        </p>
        <p class="text-base text-slate-600 mb-10">
          Desarrollamos textos estratégicos enfocados en tus objetivos para
          maximizar la conexión con tus clientes y aumentar tu conversión.
        </p>
        <a
          href="#contacto"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-2 md:px-8 rounded-full transition duration-300"
        >
          Descubra cómo podemos ayudarlo
        </a>
      </div>

      <!-- Imagen con decoración -->
      <div class="relative">
        <Image
          src={copy}
          alt=" IMPULSE SU NEGOCIO CON SOLUCIONES WEB A LA MEDIDA"
          class="md:mt-0 mt-10 w-2/3"
        />
      </div>
    </div>
  </section>

  <!-- Sección 1: Beneficios del Copywriting -->
  <section class="bg-blue-100 py-20 px-5 md:px-20">
    <div class="max-w-7xl mx-auto text-center mb-10">
      <h2 class="text-4xl font-bold text-blue-700">
        Aumenta tus Ventas con Textos Persuasivos
      </h2>
      <p class="text-lg text-gray-600 mt-4">
        Creamos contenido estratégico que conecta con tu audiencia y optimiza
        tus resultados comerciales.
      </p>
    </div>

    <div class="grid md:grid-cols-3 gap-8 max-w-7xl mx-auto">
      <div class="bg-white p-8 rounded-xl shadow-sm">
        <div class="flex items-center justify-center mb-6">
          <Image
            src={target}
            alt=" IMPULSE SU NEGOCIO CON SOLUCIONES WEB A LA MEDIDA"
            class="w-24 h-24"
          />
        </div>
        <h3 class="text-xl font-bold text-blue-700 mb-4">
          Conecta con tu Audiencia
        </h3>
        <p class="text-gray-600">
          Creamos mensajes claros y relevantes que generan una conexión
          emocional con tu público objetivo.
        </p>
      </div>

      <div class="bg-white p-8 rounded-xl shadow-sm">
        <div class="flex items-center justify-center mb-6">
          <Image
            src={optimization}
            alt=" IMPULSE SU NEGOCIO CON SOLUCIONES WEB A LA MEDIDA"
            class="w-24 h-24"
          />
        </div>
        <h3 class="text-xl font-bold text-blue-700 mb-4">
          Impulsa la Conversión
        </h3>
        <p class="text-gray-600">
          Diseñamos textos enfocados en persuadir a los clientes y aumentar tus
          ventas.
        </p>
      </div>

      <div class="bg-white p-8 rounded-xl shadow-sm">
        <div class="flex items-center justify-center mb-6">
          <Image
            src={seo}
            alt=" IMPULSE SU NEGOCIO CON SOLUCIONES WEB A LA MEDIDA"
            class="w-24 h-24"
          />
        </div>
        <h3 class="text-xl font-bold text-blue-700 mb-4">Optimización SEO</h3>
        <p class="text-gray-600">
          Nuestros textos están optimizados para mejorar la visibilidad de tu
          negocio en buscadores.
        </p>
      </div>
    </div>
  </section>

  <!-- Sección 2: Proceso de Trabajo -->
  <section class="bg-blue-50 px-5 md:px-20 py-20">
    <div class="max-w-7xl mx-auto text-center mb-16">
      <h2 class="text-4xl font-bold text-blue-700 pt-24">
        Optimiza tu Negocio con Nuestro Proceso de Copywriting
      </h2>
      <p class="text-lg text-gray-600 mt-4">
        Descubre cómo nuestro enfoque estratégico lleva tus mensajes al
        siguiente nivel.
      </p>
    </div>

    <div
      class="grid py-10 md:grid-cols-3 lg:grid-cols-3 gap-8 max-w-7xl mx-auto"
    >
      <div class="bg-white p-10 rounded-xl shadow-sm">
        <div class="mb-4">
          <span class="rounded-lg">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="w-12 h-12 text-blue-500"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path><path
                d="M21 21l-6 -6"></path><path d="M7 10l2 2l4 -4"></path></svg
            >
          </span>
          <h3 class="text-xl font-bold text-blue-900 uppercase md:mt-5">
            Investigación
          </h3>
        </div>
        <p class="text-slate-800">
          Analizamos tu mercado y entendemos a tu audiencia objetivo para
          garantizar mensajes efectivos.
        </p>
      </div>

      <div class="bg-white p-10 rounded-xl shadow-sm">
        <div class="mb-4">
          <span class="rounded-lg">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="w-12 h-12 text-blue-500"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M8 16l-1.447 .724a1 1 0 0 0 -.553 .894v2.382h12v-2.382a1 1 0 0 0 -.553 -.894l-1.447 -.724h-8z"
              ></path><path
                d="M9 3l1 3l-3.491 2.148a1 1 0 0 0 .524 1.852h2.967l-2.073 6h7.961l.112 -5c0 -3 -1.09 -5.983 -4 -7c-1.94 -.678 -2.94 -1.011 -3 -1z"
              ></path></svg
            >
          </span>
          <h3 class="text-xl font-bold text-blue-900 uppercase md:mt-5">
            Estrategia
          </h3>
        </div>
        <p class="text-slate-800">
          Definimos mensajes clave y el tono adecuado para cada audiencia.
        </p>
      </div>

      <div class="bg-white p-10 rounded-xl shadow-sm">
        <div class="mb-4">
          <span class="rounded-lg">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="w-12 h-12 text-blue-500"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4"
              ></path><path d="M13.5 6.5l4 4"></path><path
                d="M19 16l-2 3h4l-2 3"></path></svg
            >
          </span>
          <h3 class="text-xl font-bold text-blue-900 uppercase md:mt-5">
            Redacción
          </h3>
        </div>
        <p class="text-slate-800">
          Creamos textos persuasivos que capturan la atención y fomentan la
          conversión.
        </p>
      </div>

      <div class="bg-white p-10 rounded-xl shadow-sm">
        <div class="mb-4">
          <span class="rounded-lg">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="w-12 h-12 text-blue-500"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M3 17l6 -6l4 4l8 -8"></path><path d="M14 7l7 0l0 7"
              ></path></svg
            >
          </span>
          <h3 class="text-xl font-bold text-blue-900 uppercase md:mt-5">
            Optimización
          </h3>
        </div>
        <p class="text-slate-800">
          Refinamos y ajustamos cada texto para maximizar su impacto.
        </p>
      </div>

      <div class="bg-white p-10 rounded-xl shadow-sm">
        <div class="mb-4">
          <span class="rounded-lg">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="w-12 h-12 text-blue-500"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M8 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h5.697"></path><path
                d="M18 14v4h4"></path><path d="M18 11v-4a2 2 0 0 0 -2 -2h-2"
              ></path><path
                d="M8 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z"
              ></path><path d="M18 18m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"
              ></path><path d="M8 11h4"></path><path d="M8 15h3"></path></svg
            >
          </span>
          <h3 class="text-xl font-bold text-blue-900 uppercase md:mt-5">
            Reportes
          </h3>
        </div>
        <p class="text-slate-800">
          Te proporcionamos informes detallados sobre el rendimiento de los
          textos.
        </p>
      </div>

      <div class="bg-white p-10 rounded-xl shadow-sm">
        <div class="mb-4">
          <span class="rounded-lg">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="w-12 h-12 text-blue-500"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"
              ></path><path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path></svg
            >
          </span>
          <h3 class="text-xl font-bold text-blue-900 uppercase md:mt-5">
            Ajustes
          </h3>
        </div>
        <p class="text-slate-800">
          Adaptamos los textos en función del análisis y retroalimentación.
        </p>
      </div>
    </div>
  </section>

  <!-- CTA Final -->
  <section class="bg-blue-100 py-16">
    <div class="max-w-7xl mx-auto text-center">
      <h2 class="text-4xl font-bold text-gray-800">
        ¿Listo para transformar tu negocio con copywriting profesional?
      </h2>
      <p class="text-lg text-gray-600 mt-4 mb-8">
        Contáctanos hoy y descubre cómo nuestros textos estratégicos pueden
        aumentar tus ventas.
      </p>
      <a
        href="#contacto"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-8 rounded-full transition duration-300"
      >
        Contáctanos Ahora
      </a>
    </div>
  </section>
</Layout>
