---
interface Props {
  title: string;
}

const { title } = Astro.props;
// Supports weights 100-800
import "@fontsource-variable/sora";
import  SpeedInsights  from "@vercel/speed-insights/astro"
---

<!doctype html>
<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Mejora tus ventas y tu web con nuestros servicios de copywriting y desarrollo. Crecemos tu negocio online." />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
      <!-- <script>
        function checkPassword() {
          var password = prompt("Por favor, ingrese la contrase침a:");
          if (password === "elfuturo") {
            document.body.style.display = "block";
          } else {
            alert(
              "Contrase침a incorrecta. No tienes permiso para ver el contenido.",
            );
            window.location.href = "https://www.google.com"; // Redirige a otra p치gina si la contrase침a es incorrecta
          }
        }
        window.onload = checkPassword;
      </script> -->
    <slot />
    <SpeedInsights />
  </body>
</html>
<style is:global>
  html {
    font-family: "Sora Variable", system-ui, sans-serif;
    background: #ddd;
    color: #fff;
  }
  /* body {
    display: none;
  } */

  .rotate-img {
    animation: rotate 5s linear infinite;
  }
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(5deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
</style>
