---
interface Props {
  title: string;
}
import { ViewTransitions } from "astro:transitions";
import Menu from "../sections/Menu.astro";
import Footer from "../sections/Footer.astro";
import Form from "../sections/Form.astro";
const { title } = Astro.props;
// Supports weights 100-800
import "@fontsource-variable/sora";
import SpeedInsights from "@vercel/speed-insights/astro";
---

<!doctype html>
<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Mejora tus ventas y tu web con nuestros servicios de copywriting y desarrollo. Crecemos tu negocio online."
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="view-transition" content="same-origin" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <Menu />

    <slot />
    <Form />
    <Footer />

    <SpeedInsights />
  </body>
</html>
<style is:global>
  html {
    font-family: "Sora Variable", system-ui, sans-serif;
    background: #f0f6ff;
    color: #1e293b;
  }

  .rotate-img {
    animation: rotate 5s linear infinite;
  }
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(5deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
</style>
